<!doctype html>
<html ng-app="myApp">
<head>
    <script src="//cdn.bootcss.com/angular.js/1.3.0/angular.js"></script>
</head>
<body>
<!--
for array data sources:
    label for value in array
    select as label for value in array
    label group by group for value in array
    select as label group by group for value in array

for object data sources:
    label for (key , value) in object
    select as label for (key , value) in object
    label group by group for (key, value) in object
    select as label group by group for (key, value) in object
-->
<div ng-controller="CityController">
    <select ng-model="city" ng-options="city.id as city.name for city in cities">
        <option value="">Choose City</option>
    </select>
    <p>Best City Name: {{ city.name }}</p>
    <p>Best City Value: {{ city }}</p>

    <select ng-model="city1" ng-options="city.name for city in cities">
        <option value="">Choose City</option>
    </select>
    <p>Best City Name: {{ city1.name }}</p>
    <p>Best City Value: {{ city1 }}</p>
</div>



<script>
    angular.module('myApp', [])
            .controller('CityController', function ($scope) {
                $scope.cities = [
                    {name: 'Seattle', id: 111},
                    {name: 'San Francisco', id: 222},
                    {name: 'Chicago', id: 333},
                    {name: 'New York', id: 444},
                    {name: 'Boston', id: 555}
                ];
            });
</script>

</body>
</html>