@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button {
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%
}

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    line-height: 1.5;
    font-size: 1.4rem;
    color: #000;
    background-color: #f8f9fa;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

li {
    list-style: none
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 0;
    background: 0;
    -webkit-appearance: none;
    outline: 0
}

button:focus, input:focus, select:focus, textarea:focus {
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

a {
    -webkit-touch-callout: none;
    text-decoration: none;
    color: #00a5e0;
    outline: 0
}

em, i {
    font-style: normal
}

em {
    color: #f28c48
}

::-webkit-input-placeholder {
    color: #999
}

.box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../images/bg.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1
}

.content {
    padding: 2rem 5%
}

.content > .row {
    display: table
}

.user-photo {
    position: relative;
    margin: 1rem;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    border: 2px solid #41ca33;
    overflow: hidden
}

.user-photo-gray {
    position: relative;
    margin: 1rem;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    border: 2px solid #7c7c7c;
    overflow: hidden
}

.user-photo input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 70px;
    opacity: 0
}

.user-photo[data-upload-state]::after {
    content: attr(data-upload-state);
    display: inline-block;
    width: 40px;
    height: 20px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    margin: -10px -20px
}

.user-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.6rem;
    word-break: break-all
}

.user-text i {
    margin-left: 10px;
    font-size: 12px
}

.f-14 {
    font-size: 1.4rem
}

.row {
    position: relative;
    width: 100%;
    color: #676868;
    background-color: rgba(255, 255, 255, 0.45);
    word-break: break-all;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.copyright {
    position: fixed;
    width: 100%;
    bottom: 10px;
    padding: 0 1rem;
    color: #8b8b8b;
    text-align: center;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

#wrapper {
    position: absolute;
    top: 12.5rem; left: 0;
    padding: 0 5%; height: 60%; width: 100%; overflow: hidden;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.ul-schedule {
    border-left: 1px solid #aeaeae;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.ul-schedule > li {
    position: relative;
    border-bottom: 1px solid #c9cfc9
}

.ul-schedule > li > a {
    display: block;
    padding: .8rem 2rem
}

.ul-schedule > li:last-child {
    border: 0
}

.ul-schedule > li:before {
    position: absolute;
    left: -9px;
    top: 50%;
    margin-top: -9px;
    content: '>';
    width: 12px;
    height: 12px;
    border-radius: 100%;
    color: #565656;
    text-align: center;
    border: 3px solid #8b8b8b;
    font-family: 'arial';
    line-height: 11px;
    background: #fff
}

.ul-schedule > li.active:before {
    border-color: #41ca33
}

.ul-schedule > li.not:before {
    border-color: #f39822
}

.ul-schedule > li span {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    padding: .3rem 1rem;
    height: 1.7rem;
    color: #fff;
    line-height: 1.5rem;
    background-color: #8b8b8b;
    border-radius: .8rem
}

.ul-schedule > li.active span {
    background-color: #41ca33
}

.ul-schedule > li.not span {
    background-color: #f39822
}

.ul-schedule > li > a:link {
    color: #676868
}

.ul-schedule > li > a:visited {
    color: #999
}

.article {
    margin-top: 1rem;
    padding: .5rem 0 1rem
}

.article h1 {
    border-bottom: 1px solid #caccc3;
    padding: .5rem 1rem .5rem 2rem
}

.textarea {
    padding: .5rem 1rem .5rem 2rem
}

.textarea h1, h2, h3, h4, h5, h6 {
    margin: .8rem 0 .5rem;
    color: #41ca33;
    font-weight: 700
}

.textarea ul {
    margin-left: 15px
}

.textarea ol li, .textarea ul li, .textarea p {
    font-size: 1.4rem;
    line-height: 2rem;
    word-break: break-all
}

.textarea ul li {
    list-style-type: disc
}

.textarea ol li {
    list-style-type: decimal
}

#form input {
    margin: 1.4rem 0 1.6rem 4.5rem
}

#form span {
    margin: 1.3rem 1rem 1.6rem 0rem;
    color: #46d937;
    display: block;
    min-width: 7.2rem;
}

#form .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

#form .row input {
    -weibkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

#form .row:nth-child(2) {
    border-top: 1px solid #d7e1e2;
    border-bottom: 1px solid #d7e1e2
}

#form .row:before {
    position: absolute;
    left: 1rem;
    top: .8rem;
    display: block;
    content: '';
    width: 30px;
    height: 30px
}

.user:before {
    background: url(../images/register_01.png);
    background-size: 100% 100%
}

.phone:before {
    background: url(../images/register_02.png);
    background-size: 100% 100%
}

.code:before {
    background: url(../images/register_03.png);
    background-size: 100% 100%
}

#form button {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0;
    text-align: center;
    color: #fff;
    background: #46d937
}

#form .row.pop-layer, #form .row.layer {
    display: none;
    border-top: 1px solid #d7e1e2;
    padding: 1rem 0 1rem 1rem;
    color: red
}

;

#form button {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0;
    text-align: center;
    color: #fff;
    background: #46d937;
}

#form button#loadCode {
    position: absolute;
    padding: .45rem .5rem;
    right: 1rem;
    top: .25rem;
    width: auto;
    padding: .4rem .5rem;
}

#form button.load-disabled {
    background: #666;
    color: #ccc;
}
