<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <style>
        .form-control{
            display: inline-block; width: 500px; line-height: 24px; height: 24px;
            border: 1px solid #fff;
        }
        [contenteditable]{
             border-color: lightcoral;
        }
    </style>
    <!--<script type="text/javascript" src="../../lib/angular-1.3.0.js"></script>-->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-contenteditable/angular-contenteditable.js"></script>
    <script src="Test.js"></script>
</head>
<body ng-controller="TestControl">

<input type="radio" name="sex" value="true" ng-model="sex.male" ng-click="showInfo(sex)"/> 男
<input type="radio" name="sex" value="true" ng-model="sex.female" ng-click="showInfo(sex)" /> 女
{{ sex }}
</body>
</html>